{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}
<title>Administrator's Registration</title>
{% endblock title %}

{% block selected_block %}
  <li><a href="{{links.index_url}}">Home</a></li>
  <li class="selected"><a href="{{links.admin_reg}}">Registration</a></li>
  <li><a href="{{links.tuq_on_pc}}">Tuq On PC</a></li>
  <li><a href="#">Releases</a></li>
  <li><a href="#">Contact Us</a></li>
{% endblock selected_block %}

{% block content %}

<div class="container">
   <div class="form_settings">
       <div class="col-md-8">
           <div class="alignleft">
               <h2 class="aligncenter"> {{message}}</h2>
               <p>Your request as an administrator has been received. A confirmation message has been sent to your email.</p>
           </div>
       </div>
    </div>
</div>
{% endblock content %}
