{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}


{% block content %}
 <section id="content">
   <div class="container">
       {% for message in get_flashed_messages() %}
       <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           {{ message }}
       </div>
       {% endfor %}
       <div class="row">
           <div class="col-md-8">
               <div class="alignleft">
                   Your request as an administrator has been received. Please check your email for updates. 
               </div>
           </div>
		</div>
   </div>
 </section>
{% endblock content %}

